 *{
margin: 0;
padding: 0;
box-sizing: border-box ;  
}

body{ 
  background-color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Lexend', sans-serif;
}
/*HOME*/
header{
position: relative;
z-index: 1000; /*puse esto xq el carousel me tapaba el header y no me redireccionaba a la otra pag*/
  background-color: #191918;
  padding: 1rem 2rem;
}

.menu-nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    width: 140px;
}

.menu-nav ul{
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.menu-nav a{
  text-decoration: none;
  font-size: 1.1rem;
  color: aliceblue;
  transition: 0.3s;
}
/*esto es para q quede responsive*/
@media (max-width: 768px) {
  .distancia-container {
    flex-direction: column;
  }

  .grid-galeria {
    grid-template-columns: 1fr;
  }
}
.menu-nav a:hover {
  color: orange;
}

h2.titulo-galeria{
    text-align: center;
    margin: revert;
}

ul {
display: flex;
list-style: none;
padding: 0;
margin: 0;
gap: 30px;
}

.grid-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 2rem;
}

.grid-galeria img {
  width: 100%;
  height:220px;
  object-fit: cover;
}

.info-recorrido{
  max-width:900px;
  margin: 30px auto;
  text-align:center;
  line-height:1.7;
  font-size:1rem;
  color:#444;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
  padding: 2rem;
  margin-top: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.footer-nav{
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  list-style: none;
}
